:root {
	/* Colors */
	--accent: #E63946;
	--background: #525252;
	--lightAccent: #008cff;
	--lighterAccent: #E6E8E4;
	--dark: #000000;
	--darker: #1D3557;
	--slate: #2F3948;

	--white: #fff;
	--black: #0066ff;

	--ink: var(--slate);
	--paper: var(--background);

	/**
	 * These fonts are broken out into two separate variables from a previous iteration. I left
	 * it in because it's nice to be able to split out the heading and body fonts.
	 */
	 
	--accentFont: 'Atkinson Hyperlegible', Georgia, Times, serif;
	--primaryFont: 'Atkinson Hyperlegible', sans-serif;
	--codeFont: 'Fira Code', monospace;
}
